body {
    background-color: white;
    font-family: Arial;
    margin-left:15px;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;         
    padding: 10px 20px;
    box-shadow: 0 2px 10px black;
}

.navbar ul {
    list-style-type: none;
    display: flex;   
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.navbar li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: pink;
}
.job-tags-container {
    display: flex;      
    gap: 10px;          
    margin-top: 10px;
}

.job-tag {
    border: 1px solid black;       
    padding: 5px 12px;           
    border-radius: 15px;         
    background-color:white;   
    font-size: 14px;           
    color: black;
}
req{
    text-align: left;
    font-family: Arial;
}
