body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    background-color: pink;
    padding:50px 30px;
    border-radius: 5px;
    max-width: 350px;
    margin:60px auto;
    text-align: center;
}
input, button{
    padding:8px;
    width:100%;
    margin:10px 0px;
    font-size:1em ;
}
button{
    background-color:burlywood;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    color: black;
}
button:hover{
    background-color: blueviolet;
}